<!DOCTYPE html>

<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <style type="text/css" media="screen">
    body {
      margin: 0;
      padding: 0;
      background-color: black;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    img {
      display: block;
      margin: auto;
    }
  </style>
  <body>
    <script>
      $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        setInterval(function () {
          $("#face").attr(
            "src",
            "../static/people_photo/test.jpg?" + new Date().getTime()
          );
        }, 2000);
      });
    </script>

    <div>
      {% if result != None %}
      <img src="{{ result }}" id="face" width="500" />
      {% endif %}
    </div>
  </body>
</html>
